@import 'tailwindcss';
@tailwind utilities;

@layer components {
    .main-header {
        @apply text-xl sm:text-3xl font-semibold text-blue-700 text-center;
    }
    .web-first-row {
        @apply flex flex-row h-15 items-center;
    }
    .for-logout {
        @apply w-1/6 flex justify-center;
    }
    .web-footer-margin {
        @apply mb-3 lg:mb-6 xl:mb-10;
    }
    .danger-button {
        @apply;
    }
}
