@import 'tailwindcss';

@theme {
    /* ======================================================= */
    /* 🌈 COLORS: Mapping nested color shades to CSS variables */
    /* ======================================================= */

    /* The structure is: --color-NAME-SHADE: VALUE; */

    /* Imperial Color Palette */
    --color-imperial-50: #e6e9f6;
    --color-imperial-100: #c1c9ec;
    --color-imperial-200: #93a2e0;
    --color-imperial-300: #5a72d3;
    --color-imperial-400: #254cc6;
    --color-imperial-500: #002395; /* Your main brand color */
    --color-imperial-600: #001e7e;
    --color-imperial-700: #001967;
    --color-imperial-800: #001552;
    --color-imperial-900: #00103e;
    --color-imperial-950: #000a29;

    /* Cardinal Color Palette */
    --color-cardinal-50: #fee6e9;
    --color-cardinal-100: #fdced3;
    --color-cardinal-200: #f9a4ac;
    --color-cardinal-300: #f1717e;
    --color-cardinal-400: #e24155;
    --color-cardinal-500: #c41e3a;
    --color-cardinal-600: #a91a32;
    --color-cardinal-700: #851628;
    --color-cardinal-800: #67101e;
    --color-cardinal-900: #490b16;
    --color-cardinal-950: #2a050b;

    /* Gold Color Palette */
    --color-gold-50: #fbf5e5;
    --color-gold-100: #f2e7c4;
    --color-gold-200: #e9d89d;
    --color-gold-300: #e0c872;
    --color-gold-400: #dac052;
    --color-gold-500: #d4af37;
    --color-gold-600: #b79730;
    --color-gold-700: #907826;
    --color-gold-800: #6a581d;
    --color-gold-900: #443612;
    --color-gold-950: #251c08;

    /* ======================================================= */
    /* 🔡 FONT FAMILY: Mapping font stacks to CSS variables */
    /* ======================================================= */

    /* To REPLACE the default 'sans' stack */
    --font-inter: 'Inter', sans-serif;

    /* To create a NEW 'heading' stack (utility: font-heading) */
    --font-mont: 'Montserrat', sans-serif;
}

@reference "tailwindcss";

@layer base {
    h1 {
        @apply text-xl sm:text-3xl font-bold text-imperial-500 text-center;
    }
}

@layer components {
    .danger-button {
        @apply px-1 py-1 bg-red-600 text-white text-lg text-center font-semibold border-rose-800 rounded-2xl items-center hover:cursor-pointer;
    }
    .menu-background {
        @apply bg-rose-800 aspect-square;
    }
    h3.menu-header {
        @apply text-lg lg:text-2xl xl:text-4xl font-semibold text-gold-300 ml-5 lg:ml-10 xl:ml-20 my-3 lg:my-9 xl:my-15;
    }
    a.menu-link {
        @apply text-sm lg:text-lg xl:text-3xl text-sky-200 ml-5 lg:ml-10 xl:ml-15 underline;
    }
    li.menu-list + li.menu-list {
        @apply mt-1 lg:mt-4 xl:mt-8;
    }
}
